@import './styles/variables.scss';

// Base styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  background: $light-grey;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  padding: 20px;
  position: relative;

  &:after {
    content: '';
    width: calc(100% - 40px);
    background-color: $darker-grey;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 20px;
  }
}

h2, p {
  padding: 20px;
}

.inactive {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.hidden {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}

// Form styles
form.Feedback {
  padding: 20px;

  .error {
    font-size: 12px;
    color: $error;
    position: relative;
    padding: 0;
    top: -10px;
  }

  label {
    display: block;
    margin-bottom: 20px;

    & > span {
      display: block;
    }
    & > input {
      margin-top: 10px;
      border: 1px solid $darker-grey;
      width: 100%;
      padding: 15px;
      font-size: 14px;
    }
    & > textarea {
      margin-top: 10px;
      border: 1px solid $darker-grey;
      width: 100%;
      padding: 15px;
      font-size: 14px;
    }
    & > select {
      margin-top: 10px;
      border: 1px solid $darker-grey;
      width: 50px;
      padding: 15px;
      box-sizing: content-box;
      font-size: 14px;
      background: $white;
    }
  }
  
  .DOB {
    & > label {
      display: inline-block;
      width: 30%;
      margin-right: 4.5%;
    
    &:last-of-type {
      margin-right: 0%;
    }
    }
  }
  
  button, input[type="submit"] {
    width: 100%;
    height: 60px;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 600;
    background: $primary;
    color: $white;
  }
}
